@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  .josefin-sans-unique {
    font-family: "Josefin Sans", sans-serif; 
    font-optical-sizing: auto; 
    font-weight: 400; 
    font-style: normal; 
  }

  
  .josefin-sans-bold {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700; 
  }

  
  .sen-unique {
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
  }

  
  .sen-bold {
    font-family: "Sen", sans-serif;
    font-weight: 700;
  }

  .sen-semibold {
    font-family: "Sen", sans-serif;
    font-weight: 600;
  }

  .sen-light {
    font-family: "Sen", sans-serif;
    font-weight: 300;
  }
  .ravi-prakash-regular {
    font-family: "Ravi Prakash", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

  
}
#featuredProductSlider .slick-track{
  display: flex !important;
  gap: 3rem !important;
}
.slick-prev:before, .slick-next:before {
  display: none !important; 
}
.content {
  top: 10%;
  left: 35%;
  position: absolute;
}
.circle {
  stroke-dasharray: 1194;
  stroke-dashoffset: 1194;
  animation: dc 1s ease-in-out;
  animation-fill-mode: forwards;
}
.tick {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: dt 0.8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.95s;
}
@keyframes dc {
  from {
    stroke-dashoffset: 1194;
  }
  to {
    stroke-dashoffset: 2388;
  }
}
@keyframes dt {
  from {
    stroke-dashoffset: 350;
  }
  to {
    stroke-dashoffset: 0;
  }
}


